* {
  box-sizing: border-box;
}
body {
  background: #bdc3c7;
}

div {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
input {
  width: 250px;
  height: 30px;
  font-size: 20px;
}
#submit {
  height: 30px;
  width: 50px;
  background: #e74c3c;
}
#msg {
  font-size: 40px;
  color: #2980b9;
}
